<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Edit Contacts</title>
</head>

<body>

  <form action="/contacts/edit/<%=dataContacts[0].id%>" method="post">
    <input type="text" name="name" value="<%=dataContacts[0].name%>"><br>
    <input type="text" name="company" value="<%=dataContacts[0].company%>"><br>
    <input type="text" name="telp_number" value="<%=dataContacts[0].telp_number%>"><br>
    <input type="text" name="email" value="<%=dataContacts[0].email%>"><br>

    <input type="submit" value="Edit Contacts">
  </form>

</body>

</html>
